body {
margin: 0;
padding: 0;
}


.container div:hover {
    background-color: grey;
}


.container {
    width: 500px;
    height: 500px;
    display: grid;
    border: 3px solid black;
    margin: 0 auto;
    background-color: white;
}


.btn {
    background: black;
    border: 1px solid white;
    border-radius: 25px;
}

.btn:hover {
    background: white;
    color: black;
    border: 1px solid black;
}

input {
    height: 40px;
    margin: 7px auto;
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 25px;
    padding: 0 23px;
    width: 120px;
}
.leftPart {
    background-image: url(https://images.unsplash.com/photo-1597730945481-f35a5cf39021?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}


form {
    display: flex;
    flex-direction: column;
}

input

.content {
    text-align: center;
}

h1 {
    font-family: fantasy;
    letter-spacing: 5px;
    color: cyan;
}

.flex {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

button {
    padding: 10px;
    margin: 2rem;
    background: content-box;
    color: #3fb55b;
    font-size: larger;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}